$primary-text-color: #000;
$primary-color: #FFE783;
$secondary-color: #FFDA42;
$primary-bg: #E5E5E5;
$number-btn-bg: #DFDFDF;
$input-border: 1px solid #C3C3C3;
$border-radius: 3px;
$arrow-box-shadow: #9D9D9D;
$arrow-opacity: 0.8;
$button-box-shadow: #C7B258;
