:host{
  position: relative;
  margin-left: auto;
  padding-left: 30px;
  font-size: 17px;
  line-height: 26px;
  display: block;
  background: url("assets/img/add-icon.svg") no-repeat;
  height: 26px;
  cursor: pointer;
}
