.choice{
  flex: 1 0 25%;
  margin-left: 1.9em;
  cursor: pointer;
}

.option {
  display: block;
  margin-bottom: 0.5em;
}
.check {
  padding-left: 1.2em;
}
.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.check__box {
  position: absolute;
  margin-left: -1.8em;
  width: 1.5em;
  height: 1.5em;
  background: url("assets/images/off.svg") no-repeat;

}

.check__input:checked + .check__box {
  background: url("assets/images/on.svg") no-repeat;
}



